.bg {
    background-color: #c5c5c5;
    font-size: 10px;
    font-family: "Bahnschrift", Times, serif;
}

.nav-bg {
    background-image: url("../images/jj-ying-8bghKxNU1j0-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-text-font {
    font-size: 4rem;
    font-family: "Bahnschrift", Times, serif;
    color: #ffffff !important;
}

.nav-text-title_font {
    font-size: 4rem;
    font-family: "Bahnschrift", Times, serif;
    margin-left: 5rem;
    color: #ffffff !important;
}

.nav-font {
    font-size: 2rem;
    font-family: "Ebrima", Times, serif;
    color: #ffffff !important;
}

.nav-font:hover {
    font-size: 2rem;
    font-family: "Ebrima", Times, serif;
    color: #3c46d9 !important;
}

.nav-padding {
    padding-left: 95rem;
}

.word {
    margin-top: 500rem;
}

.nav-padding-item {
    padding-left: 3rem;
    padding-right: 3rem;
}

.text-card {
    padding-top: 12rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-bottom: 1rem;
    width: 33vw;
    min-width:36rem;
}

.text-card-bg {
    background-color: #c5c5c5 !important;
}

.text-card-font_title {
    font-size: 2.5rem;
    color: #3c46d9 !important;
    font-family: "Bahnschrift", Times, serif;
}

.text-card-font_body {
    font-size: 1.5rem;
    color: #3c46d9 !important;
    font-family: "Bahnschrift", Times, serif;
}

.image-card {
    padding-top: 5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-bottom: 5rem;
    width: 33vw;
    min-width:36rem;
}

.image-card-bg {
    background-color: #c5c5c5 !important;
}

.image-card-txt_size {
    width: 100%;
    min-width: 300px;
}

.image-card-img_size {
    margin-left: 1rem;
    height: auto;
    width: 90%;
    min-width: 280px;
}

.image-card-img_border {
    border: 4px solid #3c46d9;
    border-radius: 8px;
}

.image-card-font_title {
    font-size: 2.5rem;
    color: #3c46d9 !important;
    font-family: "Bahnschrift", Times, serif;
    text-decoration: underline;
}

.image-card-font_subtitle {
    font-size: 2rem;
    color: #3c46d9 !important;
    font-family: "Bahnschrift", Times, serif;
}

.image-card-font_body {
    font-size: 1.5rem;
    color: #3c46d9 !important;
    font-family: "Bahnschrift", Times, serif;
}

.page-elements {
    width: 40vw;
}